<mat-card class="list-applicant">
    <button mat-raised-button (click) ="onCreate()"><mat-icon>add</mat-icon>Add Applicant</button>
    
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  <mat-card-content>

<div class="mat-elevation-z8">

    <mat-table [dataSource] = "applicantsource" matSort >
      <ng-container  matColumnDef="sn"><input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <mat-header-cell *matHeaderCellDef mat-sort-header> SN. </mat-header-cell>
        <mat-cell *matCellDef="let applicant; let i = index;"> {{i+1+(pageSize*pageIndex)}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="photo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Photo </mat-header-cell>
        <mat-cell *matCellDef= "let applicant"> {{applicant.photo}} </mat-cell>
      </ng-container>
      <ng-container  matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell> 
        <mat-cell *matCellDef= "let applicant" > {{applicant.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef= "let applicant"> {{applicant.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="experience">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Experience </mat-header-cell>
        <mat-cell *matCellDef= "let applicant"> {{applicant.experience}} </mat-cell>
      </ng-container>
    <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Position </mat-header-cell>
        <mat-cell *matCellDef= "let applicant"> {{applicant.position.title}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="interviewer">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Interviewer </mat-header-cell>
        <mat-cell *matCellDef= "let applicant"> {{applicant.interviewer.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="isEligible">
        <mat-header-cell *matHeaderCellDef mat-sort-header> IsEligible </mat-header-cell>
        <mat-cell *matCellDef= "let applicant"> {{applicant.isEligible}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
        <mat-cell *matCellDef= "let applicant"> {{applicant.action}} </mat-cell>
      </ng-container>
       <ng-container matColumnDef="view">
         <mat-header-cell *matHeaderCellDef> View </mat-header-cell>
         <mat-cell *matCellDef="let applicant">
           <button mat-icon-button (click)="onView(applicant.id)"><mat-icon>pageview</mat-icon></button>
         </mat-cell>
       </ng-container>
       <ng-container matColumnDef="edit">
         <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
         <mat-cell *matCellDef="let applicant">
           <button mat-icon-button (click)="onEdit(applicant.id)"><mat-icon>launch</mat-icon></button>
         </mat-cell>
       </ng-container>
       <ng-container matColumnDef="delete">
         <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
         <mat-cell *matCellDef="let applicant">
            <button mat-icon-button (click)="onDelete(applicant.id)" class="btn btn-block btn-sm btn-info">
             <mat-icon>delete</mat-icon>
            </button>  
         </mat-cell>
       </ng-container>
      
      
      
      <mat-header-row  *matHeaderRowDef="displayedColums"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColums;"></mat-row>
    </mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="onPaginateChange($event)"></mat-paginator>
</div>
</mat-card-content>
</mat-card>

