<div class="forgetpassword-page">
  <mat-card>
    <mat-card-header>
        <h2 class="app-name">Forget Password</h2>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br><br>
    <form [formGroup]="forgetPasswordForm" class="forgetpassword-form" >
                <mat-form-field class="w-100">
                    <input matInput placeholder="Enter Email" id="email" formControlName="email"  type="text" #email required>
                </mat-form-field>
           <mat-card-actions>
              <button mat-raised-button color="primary" class="w-100" (click)="forgetpassword(email.value)">Submit</button>
           </mat-card-actions>
    </form>
  </mat-card>
