<div class="container-fluid">
  <form [formGroup]="questionForm" autocomplete="off" novalidate (ngSubmit)="createQuestion(questionForm.value)">
    <div class="form-horizontal well">
 
      <div class="form-group">
        <label for="question" class="control-label col-md-2">Question: </label>
        <div class="col-md-5">
          <textarea type="text" formControlName="question" id="question" class="form-control" placeholder="Question" ></textarea>
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('question') && hasError('question', 'required')">question is required</em>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4">
          <input [checked]="multichoice === true" (change)="chooseAnswerType()" type="radio">
          multiple-choice
        </label>
        <label class="control-label col-md-2">
            <input [checked]="multichoice === false" (change)="chooseAnswerType()" type="radio"/>
            subjective
        </label>
      </div>
<!--       
      <div *ngIf="multichoice === false">
        <div class="form-group">
          <label for="answer" class="control-label col-md-2">Answer: </label>
          <div class="col-md-5">
            <textarea type="text" formControlName="answer" id="answer" class="form-control" placeholder="Answer"></textarea>
          </div>
          <div class="col-md-5">
            <em *ngIf="validateControl('answer') && hasError('answer', 'required')">answer is required</em>
          </div>
        </div>
      </div> -->

      <div *ngIf="multichoice === true">
          <div class="form-group">
            <label for="answer1" class="control-label col-md-2">Answers: </label>
            <div class="col-md-5">
              <input type="text" formControlName="answer1" id="answer1" class="form-control" placeholder="Answer Choice 1"/>
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('answer1') && hasError('answer1', 'required')">answer1 is required</em>
            </div>
          </div>
          <div class="form-group">
            <label for="answer2" class="control-label col-md-2"></label>
            <div class="col-md-5">
              <input type="text" formControlName="answer2" id="answer2" class="form-control" placeholder="Answer Choice 2"/>
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('answer2') && hasError('answer2', 'required')">answer2 is required</em>
            </div>
          </div>
          <div class="form-group">
            <label for="answer3" class="control-label col-md-2"></label>
            <div class="col-md-5">
              <input type="text" formControlName="answer3" id="answer3" class="form-control" placeholder="Answer Choice 3"/>
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('answer3') && hasError('answer3', 'required')">answer3 is required</em>
            </div>
          </div>
          <div class="form-group">
            <label for="answer4" class="control-label col-md-2"></label>
            <div class="col-md-5">
              <input type="text" formControlName="answer4" id="answer4" class="form-control" placeholder="Answer Choice 4"/>
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('answer4') && hasError('answer4', 'required')">answer4 is required</em>
            </div>
          </div>
        </div>
 
      <div class="form-group">
        <label for="correctAnswer" class="control-label col-md-2">correctAnswer: </label>
        <div class="col-md-5">
          <input type="text" formControlName="correctAnswer" id="correctAnswer" class="form-control" placeholder="Correct Answer"/>
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('correctAnswer') && hasError('correctAnswer', 'required')">correct answer is required</em>
        </div>
      </div>

      <div class="form-group">
        <label for="time" class="control-label col-md-2">time: </label>
        <div class="col-md-2">
          <input type="text" formControlName="time" id="time" class="form-control" placeholder="Seconds"/>
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('time') && hasError('time', 'required')">time is required</em>
          <em *ngIf="validateControl('time') && hasError('time', 'pattern')">time should be in number</em>
        </div>
      </div>
 
      <br><br>
 
      <div class="form-group">
          <div class="col-md-offset-5 col-md-1">
              <button type="submit" class="btn btn-info" [disabled]="!questionForm.valid">Save</button>
          </div>
          <div class="col-md-1">
              <button type="button" class="btn btn-danger" (click)="redirectToQuestionList()">Cancel</button>
          </div>
      </div>
      
    </div>
  </form>
</div>