.mat-card-header .h3 {
	position:absolute;
	left: 0;
	top: 0;
  }
  
  .column-1 {
	flex: 1;
	padding: 10px;
	margin-bottom: 20px;
	flex-basis: 30%;
  }
  .column-2 {
	flex: 1;
	padding: 10px;
	margin-bottom: 20px;
	flex-basis: 30%;
  }
  
  .card-layout {
	max-width: 1000px;
	background-color: #ffffff;
	/* line-height: 1.65; */
	padding: 20px 10px;
	display: flex;
	justify-content: space-between;
  }
  