<mat-card class="mat-elevation-z8">

  <mat-icon class="close" (click)="closeDialog()" >close</mat-icon>
<section class="mat-typography">
      <h2>Applicant</h2>
    </section>
  <form [formGroup]="service.form"  (submit)="onSubmit()">
   <div class="card-layout">
  <div class="column-1">
   <input type="hidden" formControlName="id">
   
     <mat-form-field style="width: 300px;" class="field-reason">
     <input matInput placeholder="Name"  formControlName="name">
   </mat-form-field>
   <br>
  <mat-form-field style="width: 300px;" class="full-width">
      <mat-label>Position</mat-label>
        <mat-select formControlName="position" required>
         <mat-option *ngFor="let x of positionList" [value]="x">{{x.title}}
           </mat-option>
     </mat-select>
   </mat-form-field>
   <br>
   <mat-form-field style="width: 300px;" class="field-reason">
     <textarea matInput placeholder="Experience"  formControlName="experience"></textarea>
   </mat-form-field>
   <br>
   <mat-form-field style="width: 300px;" class="field-reason">
     <input matInput placeholder="Email"  formControlName="email">
   </mat-form-field>
   <br>
   <mat-form-field style="width: 300px;" class="field-reason">
     <textarea matInput placeholder="Address"  formControlName="address"></textarea>
   </mat-form-field>
   <br>
   <!-- <mat-form-field style="width: 300px;" class="full-width">
      <mat-label>Interviewer</mat-label>
        <mat-select formControlName="interviewer" required>
         <mat-option *ngFor="let y of interviewerList" [value]="y">{{y.name}}
           </mat-option>
     </mat-select>
   </mat-form-field>-->
   </div>
  <div class="column-2">
    <!--<mat-form-field style="width: 300px;" class="full-width">
     <input matInput [matDatepicker]="appliedDatePicker"
      placeholder="Applied Date" formControlName="appliedDate">
        <mat-datepicker-toggle matSuffix [for]="appliedDatePicker">
          </mat-datepicker-toggle>
        <mat-datepicker #appliedDatePicker></mat-datepicker>
   </mat-form-field>-->

   <!--<mat-form-field style="width: 300px;" class="field-reason">
     <input matInput placeholder="Documents"  formControlName="documents">
   </mat-form-field>-->
   <mat-form-field style="width: 300px;" class="field-reason">
     <input matInput placeholder="Citizenship"  formControlName="citizenship">
   </mat-form-field>
   <br>
    <mat-form-field style="width: 300px;" class="field-reason">
     <textarea matInput placeholder="Remarks"  formControlName="remarks"></textarea>
   </mat-form-field>
   <br>

   <label for="file">Upload Photo</label>
    <input type="file"
           id="file" formControlName="photo"
           (change)="handlePhotoInput($event.target.files)">

   <!--<div class="imageBox">
    <img src='{{file_srcs}}' alt="" width="200px" height="200px"/>
    </div>
   <input type="file" name="addPhoto" placeholder="Add Photo"  formControlName="photo" (change)="fileChange(input)" #input>-->
   <br>
      <label for="file">Upload Documents</label>
    <input type="file"
           id="documentFile" formControlName="documents"
           (change)="handleFileInput($event.target.files)">
   <br>        
   <!--<mat-radio-group formControlName="isEligible">
      <mat-radio-button value="1" >Yes</mat-radio-button>
      <mat-radio-button value="2" selected="true">No</mat-radio-button>
    </mat-radio-group>
<br>-->
<!--<input id="singleFile" type="file" [fileUploadInputFor]= "fileUploadQueue"/>
    <br>
    <mat-file-upload-queue #fileUploadQueue
        [fileAlias]="'file'"
        [httpUrl]='uploadUrl'>

      <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
    </mat-file-upload-queue>
   <br>-->
  
   <!--<mat-form-field style="width: 300px;" class="field-reason">
     <input type="file" placeholder="Photo"  formControlName="photo" (change)="fileChange(input)" #input>
     <img [attr.src]='file_srcs[0]' alt=""/>
   </mat-form-field>-->
   

   
   </div>
   </div>
    <div>
      <button mat-raised-button type="submit" >Submit</button> 
       <button mat-raised-button (click) ="clearForm()" >Clear</button>
      <button mat-raised-button   (click)="closeDialog()" >Cancel</button>
    </div>
  </form>

</mat-card>