 <div class="resetpassword-page">
  <mat-card>
    <mat-card-header class="text-center">
        <h2 class="app-name">Reset Password</h2>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br><br>
    <div class="content">
        <form [formGroup]="resetpasswordform" class="resetpassword-form" >
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Password" id="newPassword" formControlName="newPassword"  [type]="hide1 ? 'password' : 'text'" #newPassword required>
                        <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </mat-form-field>
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Confirm Password" id="verifyPassword" formControlName="verifyPassword"  [type]="hide2 ? 'password' : 'text'" #verifyPassword required>
                    <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </mat-form-field>
          <mat-card-actions>
              <button mat-raised-button color="primary" class="w-100" (click)="resetpassword(newPassword.value, verifyPassword.value )">Submit</button>
          </mat-card-actions>
        </form>
    </div>
  </mat-card>

</div>
